/********************
 * FEATURE CAROUSEL *
 ********************/
.carousel-container {
  position:relative;
  width:934px;
  top:-25px;
}
#carousel {
  height:275px;
  width:934px;
  background-color:#fefefe;
  position:relative;
  margin-bottom:0.5em;
  font-size:12px;
  font-family: Arial;
  top:0;
  float: left;
}
.carousel-image {
  border:0;
  display:block;
}
.carousel-feature {
  position:absolute;
  top:-1000px;
  left:-1000px;
  /*border:2px solid #5d5d5d;*/
  cursor:pointer;
}
.carousel-feature .carousel-caption {
  position:absolute;
  bottom:0;
  width:401px;
  background-color:#303030;
  left:3px;
  bottom:3px;
}
.carousel-feature .carousel-caption p {
  margin:0;
  padding:5px;
  font-weight:bold;
  font-size:12px;
  color:white;
  margin-left: 10px;
}
.tracker-summation-container {
  position:absolute;
  color:white;
  right:48px;
  top:230px;
  padding:3px;
  margin:3px;
  background-color:#ff7800;
}
.tracker-individual-container {
  position:absolute;
  color:white;
  right:48px;
  top:210px;
  padding:0;
  margin:0;
}
.tracker-individual-container li {
  list-style:none;
}
.tracker-individual-container .tracker-individual-blip {
  margin:0 2px;
  padding:0 4px;
  color:black;
  text-align:center;
  background-color:#efefef;
  border: 1px solid #666;
  border-radius: 4px;
}
.tracker-individual-container .tracker-individual-blip-selected {
  color:white;
  font-weight:bold;
  background-color:#ff7800;
}
#carousel-left {
  position:absolute;
  bottom:33px;
  left:220px;
  cursor:pointer;
}
#carousel-right {
  position:absolute;
  bottom:33px;
  right:220px;
  cursor:pointer;
}
.infiniteCarousel_slider .forward {

  background-position: 0 0;

  right:-328px;

}



.infiniteCarousel_slider .back {

background-image: url("templates/softweb/images/home_prev_btn.png");

  background-position: 1 -72px;

  left: 0;

}



.infiniteCarousel_slider .forward:hover {

 background-position: 0 0;

  right:-328px;

}



.infiniteCarousel_slider .back:hover {

  background-image: url("templates/softweb/images/home_prev_btn.png");

  background-position: 1 -72px;

  left: 0px;



}

div.carousel-caption{
    
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
        
}
ul.tracker-individual-container{
    top:245px;
    left:735px;
    z-index: 22;
}

.tracker-individual-container .tracker-individual-blip{
    color:000!important;
}
#website-container a#but_prev{
    background-image: url(../images/leftarrow.png);
    position:relative;
    top:145px;
    left:105px;
    z-index: 215;
    height:37px;
    width:38px;
    float:left;
    text-decoration: none;
}
#website-container a#but_next{
    background-image: url(../images/rightarrow.png);
    position:relative;
    top:145px;
    left:750px;
    z-index: 215;
    height:37px;
    width:38px;
    float:left;
    text-decoration: none;
}
.carousel-caption div.c_link{
    float:right;
    width:auto;
    height:20px;
    padding:0 10px;
    margin:10px 5px 10px 0 ;
    background: #ddd;
    border: 2px solid #fff;
    border-radius: 10px;
    
}
.carousel-caption div.c_link a{
    color:#222;
    font-weight: bold;
    text-decoration: none;
    line-height: 18px;
}
.carousel-feature div.carousel-caption p{
    /*width:250px; */
    width:auto;
    float:left;
}
#website-container div.website-content{
margin-top:340px;
}