pop/* 
    Document   : style
    Created on : Sep 14, 2014, 9:40:48 PM
    Author     : Cristi
    Description:
        Purpose of the stylesheet follows.
        */

        
        body {
            font-family: verdana;
            margin: 0;
            padding: 0;
            font-size: 12px;
        }
         ul{
            padding: 0;
            margin: 0;
            list-style-type: none;
        }
         h2{
            font-size: 3em;
            font-weight: bold;
        }
         h3{
            font-size: 2.3em;
        }
         p,  .item .contentBox ul{
            font-size: 1.1em;
        }
        .left{
            float: left;
        }
        .right{
            float: right;
        }
 .extensionIcon,  .faceboocIcon,  .faceboocIcon_on,
 .googleIcon,  .googleIcon_on,  .linkIcon_on,  .mobileAppIcon,
 .researchIcon,  .rssIcon,  .rssIcon_on, .twiterIcon,
 .twiterIcon_on,  .linkIcon,  .closeBtn,  .nextArr,  .prevArr,  .item .contentBox ul li {
    background-image: url('../images/sprite.png');
    display: block;
    margin: auto;
}

.logo{
  background-image: url('../images/logo.png');
    display: block;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
  }

.whiteLogo{
    background-image: url('../images/logoWhite.png');
    display: block;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

 .heatingIcon{
    background-image: url("../images/sprite30.png");
    background-repeat: no-repeat;
    width: 70px;
    height: 69px;
    display: block;
    margin: auto;
  }

 .services:hover .heatingIcon{
   background-image: url("../images/sprite31.png");
}
 .extensionIcon{
    background-position: -801px 0;
    width: 60px;
    height: 69px;
}
 .services:hover .extensionIcon{
    background-position: -901px -2px ;
}
 .faceboocIcon{
    background-position: -1px -173px ;
    width: 25px;
    height: 24px;
}
 .faceboocIcon:hover{
    background-position: -37px -174px;
}
 .googleIcon{
    background-position: -72px -173px ;
    width: 27px;
    height: 24px;
}
 .googleIcon:hover{
    background-position: -110px -174px;
}
 .linkIcon{
    background-position: -151px -173px ;
    width: 24px;
    height: 24px;

}
 .linkIcon:hover{
    background-position: -186px -174px;
}
 .logo{
    background-position: 0 0;
    width: 245px;
    height: 61px;
    float: left;
}
 .mobileAppIcon{
    background-position: -400px -133px ;
    width: 66px;
    height: 69px;
}
 .services:hover .mobileAppIcon{
    background-position: -501px -132px ;
}
 .researchIcon{
    background-position: -601px -2px ;
    width: 70px;
    height: 69px;
}
 .services:hover .researchIcon{
    background-position: -701px -2px ;
}
 .rssIcon{
    background-position: -224px -175px ;
    width: 21px;
    height: 22px;
}
 .rssIcon:hover{
    background-position: -260px -175px;
}
 .waterIcon{
    background-image: url("../images/sprite20.png");
    background-repeat: no-repeat;
    width: 66px;
    height: 69px;
    display: block;
    margin: auto;
}
 .services:hover .waterIcon{
  background-image: url("../images/sprite21.png");
}

 .repairIcon{
    background-image: url("../images/sprite10.png");
    background-repeat: no-repeat;
    width: 65px;
    height: 69px;
    display: block;
    margin: auto;
}
 .services:hover .repairIcon{
        background-image: url("../images/sprite11.png");

}

.centerText{
  text-align: center;
}

 .twiterIcon{
    background-position: -301px -174px ;
    width: 27px;
    height: 24px;
}
 .twiterIcon:hover{
    background-position: -344px -175px;
}
 .whiteLogo{
    background-position: -4px -11px ;
    width: 150px;
    height: 41px;
}
 .closeBtn {
    background-position: 0px -250px;
    width: 36px;
    height: 36px
}
 .nextArr {
    background-position: -99px -248px;
    width: 36px;
    height: 36px;
}
 .prevArr {
    background-position: -197px -251px;
    width: 36px;
    height: 36px;
}
 .item .contentBox ul li {
background-position: -3px -323px;
padding: 5px 0 5px 20px;
background-repeat: no-repeat;
width: 49%;
float: left;
}
 .item .contentBox ul.fullWidth li {
    background-repeat: no-repeat;
    width: 100%;
    float: none;
}

 .item .contentBox ul.equalResultsColumns li {
    background-image: none;
}

 .imageOverlay:after,  .imageOverlay:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
 .imageOverlay:after,  .imageOverlayHover:after{
    content:'\A';
    width:100%; 
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
}
 .imageOverlay:before,  .imageOverlayHover:before {
    /*content: attr(data-content);*/
    width:100%;
    color:#fff;
    z-index:1;
    bottom:0;
    text-align:center;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    top: 0;
}
 .imageOverlay:hover:after,  .imageOverlay:hover:before,  .imageOverlay.overlay:before,  .btn.overlay:before, .btn.overlay:after,
 .imageOverlay.overlay:after,  .imageOverlayHover:hover:after,  .imageOverlayHover:hover:before {
    opacity:1;
}
 .btn.overlay {
    background:rgba(0,0,0,0.6);
    /*content:'\A';*/
    color: #fff;
}
 .lightBlueTxt {
    color: #89b4bd;
}
 .grayBg {
    background-color: #1c1c1c;
}
 .lightGrayBg {
    background-color: #c9c8c8;
}
 .blueBg {
    background-color: #4564af;
}
 .greenBg {
    background-color: #27bd57;
}
.grayBg, .blueBg, .pinkBg, .magentaBg, .yellowBg, .greenBg, .lightGrayBg {
    color: #fff;
}
.grayBg a{
    color: inherit;
}
.whiteBg {
    background-color: #fff;
    color: #727272;
}
 .whiteBg h3, .whiteBg h4 {
    color: #4e4e4e;
}
.centerTxt {
    text-align: center;
}
 .smallTxt {
    font-size:0.9em;
}
 .headerTitle {
    padding: 35px 0;
    margin-top: 40px;
}
.fRight {
    float: right;
}
.fLeft {
    float: left;
}
.noMarginTop,  ul.table.noMarginTop {
    margin-top: 0;
}
 .container {
    padding: 20px;
}
 ul.table li {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    
}
 ul.logosTable li {
    height: 120px;
}
 ul.logosTable li img{
    width: 66%;
    margin: 20px;
}
 .logosTable {
    margin-bottom: 15px;
}
 ul.table{
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-top: 55px;
    margin-bottom: 55px;
    display: block;
}
 .services {
    padding-top: 3%;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
 .services h4{
    margin-top: 5%;
    margin-bottom: 5%;
}
 .services:hover {
    background-color: #4564af;
    color: #fff;
    cursor: pointer;
    border: 1px solid #3353a1;
}
 .services * {
    color: inherit;
}
 .greenBorder {
    height: 3px;
    background-color: #6ec05d;
    width: 150px;
    margin: auto;
}
 .popupForm input{
    width: 45%;
    padding: 7px 16px;
    margin: 15px 1.5% 15px 1.5%;
    float: left;
    border: 1px solid #ddd;
}
 .popupForm .captchaInput{
    width: 49%;
    float: right;
}
 .popupForm .captchaInput input{
    width: 100%;
}
 .popupForm .captcha img{
    width: 50%;
}
 .popupForm input.blueBg {
    padding-top: 13px;
    padding-bottom: 13px;
}
 .equalCol {
    display: table;
    width: 100%;
}

 .equalCol [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}
       
  .sprite-logo {
    background-repeat: no-repeat;
    width: 226px;
    height: 73px;
    float: left;
}

.padding50{
    padding: 50px 0;
}
.marginTop {
    margin-top: 10px;
}
 .casesContainer {
    margin-top: 15px;
}
 .casesContainer > div{
    overflow: hidden;
    margin-top: 3px;
    position: relative;
}
 .casesContainer img{
    width: 100%;
    margin: 0 3px;
    -moz-backface-visibility: hidden;
}
 .casesContainer .transition-all {
    right: 0;
    top: 0;
    width: 0;
    opacity: 0;
    z-index: -1;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin: auto;
}
 .imageOverlayHover .transition-all {
    background-color: #000;
    opacity: 0.8;
    z-index: 1;
    width: 99.45%;
    padding-top: 60px;

}
 .imageOverlayHover .transition-all h3{
    font-size: 2em;
}
 .imageOverlayHover .transition-all *{
    opacity: 1;
    z-index: 2;
    color: #fff;
}
 .imageOverlayHover .transition-all a{
    padding: 7px 12px;
    border: 1px solid #fff;
    display: inline-block;
}
 .imageOverlayHover .transition-all a:hover{
    cursor: pointer;
}
 .imgBoxContainer {
    min-height: 185px;
}

 .listBottom > li{
    margin: 20px 0;
    float: left;
    margin-right: 13px;
    margin-left: 13px;
    font-size: 0.8em;
}
 .listBottom > li:last-child,  .listBottom.borderBottom > li:last-child{
    margin-right: 0px;
}
 .listBottom > li:first-child,  .listBottom.borderBottom > li:first-child{
    margin-left: 3px;
}
 .listBottom.borderBottom > li{
    margin-right: 35px;
}
 .footer {
    width: 706px;
    margin: auto;
}

 .socials {
    width: 216px;
    float: right;
    margin: 16px 0;
}
 .socials li{
    width: 43px;
    float: left;
}
 .socials a:hover{
    cursor: pointer;
}
 .slider {
    position: relative;
}
 .slideBtn {
    position: absolute;
    right: 10px;
}
 .slideCover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
 .textCover {
    color: #fff;
    top: 32%;
    width: 100%;
    position: absolute;
    margin: auto;
}
 .textCover h3 {
    font-size: 4.5em;
}
 .textCover h2 {
    font-size: 7em;
}
 .btn {
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 0;
}
 .popUpBtn {
    padding: 13px 45px;
    margin: 10px auto 20px;
    font-size: 1.5em;
    text-align: center;
    border: 0;
}
 .popUpBtn.greenBg:hover {
    color: #fff;
    cursor: pointer;
}
 .buttonCase{
    background-color: transparent;
    border: 1px solid #fff;
}
 .btn:hover {
    color: #fff;
    text-decoration: underline;
    background-color: #000;
    opacity: 1;
}

 .borderBottom {
    border-bottom:  1px solid #fff;
}
 .modal-dialog {
  width: 100%;
  height: auto;
  padding: 0;
}

 .modal-content {
  height: auto;
  border-radius: 0;
}
 .modal-dialog {
    margin: 0;
}

 div.noPadding{
    padding: 0 !important;
}
 .headerContainer {
    position: relative;
    margin-bottom: 50px;
    color: #fff;
    text-align: center;
}
 .headerContainer img{
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
 .contactTxt {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    height: 44.5%;
}
 .contactTxt h5{
    display: inline;
}
 .contactTxt h2{
    margin-top: 20px;
    padding: 20px 65px;
}
 #carousel-example-generic h2,  .contactTxt h2{
    font-size: 6.5em;
}
 .slideBtns {
    right: 0;
    top: 50px;
    width: 50px;
    position: absolute; 
    text-align: left;
}
  .slideBtns .transition-all {
    width: 50px;
    height:50px;
    background-color: #555;
    color: #fff;
    overflow: hidden;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
 }
  .slideBtns .transition-all.btnHover {
    width: 250px;
    margin-left: -200px;
 }
 .slideBtns a{
    padding: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    background-color: #fff;
}
 .prevTitle,  .nextTitle {
    min-width: 200px;
    margin-left: 5px;
    padding-top: 5px;
}
 .modal-content h2,  .modal-content h5 {
    margin: auto;
}
 .modal-content h4 {
    font-size: 22px;
}
 .modal-content h5{
    display: block;
    font-size: 1.4em;
    color: #727272;
    line-height: 130%;
}
 .modal-content .headerContainer h5 {
    color: #fff;
}
 .modal-content p,  .item .contentBox ul {
    display: inline-block;
    min-width: 60%;
    max-width: 100%;
    color: #727272;
}
 .modal-content p,  .item .contentBox ul,  .item .contentBox h5,  .item .contentBox h4 {
    padding-bottom: 22px;
    margin: 0;
}
 .item .contentBox h4 {
    padding-top: 10px;
}
 .item .contentBox h5 {
    font-size: 1.1em;
}
 .carousel-indicators li {
    display: none;
    margin-right: 7px;
}
 #carousel-example-generic h3{
    font-size: 3.5em;
}

 #carousel-example-generic .carousel-caption {
    padding-top: 7.5%;
}
 .carousel-caption {
    bottom: 0;
    top: 0;
}
 #carousel-example-generic .carousel-caption .btn{
    padding: 15px 30px;
    font-size: 1.5em;
}
  .captchaContainer{
    width: 45%;
    float: right;
    background-color: #f9f9f9;
    padding: 10px;
    margin-right: 5.5%;
    border: 1px solid #ddd;
}
 .captcha {
    float: left;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}
.transition-all{
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
 .popupForm .error {
 border: 1px solid #FF0606;
}
 .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%;
}
@media all and (max-width: 1600px){
     #carousel-example-generic .carousel-caption {
        padding-top: 4.5%;
    }
     #carousel-example-generic h2,  .contactTxt h2{
        font-size: 5em;
    }

}

@media all and (max-width: 1300px){
     .headerContainer img{
    height: 335px;
    margin-left: -50%;
    margin-right: -50%;
    width: auto;
}
     #carousel-example-generic h2,  .contactTxt h2{
    font-size: 3.8em;
}
     #carousel-example-generic .carousel-caption {
    padding-top: 6%;
}
     #carousel-example-generic h2{
        font-size: 4em;
    }
     #carousel-example-generic h3{
    font-size: 3em;
}
     .carousel-inner>.item>img, .carousel-inner>.item>a>img {
        min-height: 370px;
    }
    
    .padding50{
        padding: 25px 0;
    }
     .imageOverlayHover .transition-all h3{
        font-size: 1.5em;
        margin-top: -15px;
    }
     ul.logosTable li img{
        width: 90%;
        margin-left: 5px;
        }

         .imageOverlayHover .transition-all h3{
        font-size: 1.5em;

        }
         .imgBoxContainer {
         min-height: 135px;
        }
    }

@media all and (max-width: 800px){
    
    .carousel-inner>.item>img, .carousel-inner>.item>a>img {
        min-height: 300px;
    }
    .padding50{
    padding: 20px 0;
    }
     .popupForm input {
        width: 95%;
    }
     .captchaContainer {
        width: 95%;
        margin-right: 3.5%;
    }
     .greenBorder {
        width: 120px;
    }
     .slideBtns {
    right: 0;
    top: 10px;
    }
     .headerContainer img{
    height: 250px;
    }
     #carousel-example-generic h2,  .contactTxt h2{
        font-size: 2em;
    }
     ul.logosTable li img{
        width: 90%;
        margin-left: 5px;
        }
         .footer {
        width: 580px;
        margin: auto;
    }
     .listBottom {
        margin-right: 10px;
    }
     .listBottom.borderBottom > li {
        margin-right: 10px;
    }
     .logosTable {
    margin-bottom: 0px;
    }
  
     .imageOverlayHover .transition-all h3{
        margin-top: 0px;
    }
            
}
@media all and (max-width: 600px){
     .headerContainer img{
        height: 220px;
    }
     #carousel-example-generic h2,  .contactTxt h2{
    font-size: 2em;
    }
     .imageOverlayHover .transition-all *{
        margin-top: 1%; 
    }
     .imageOverlayHover .transition-all button {
        padding: 2%
    }
     ul.logosTable li img{
    margin-left: 0;
    width: 76%;
    }
     ul.logosTable li{
        height: 80px;
    }
     .item .contentBox ul {
    width: 100%;
    }
     .footer {
        width: 100%;
    }
      .imageOverlayHover .transition-all h3{
        margin-top: -15px;
    }
  
}

.ddChild li{
    width:100% !important;
}

#languagePickerContainer{
    width:120px !important;
}

#countries_msdd{
    width:100% !important;
}