﻿<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Viz-Gaz-Futes</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!--<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>-->
  <link rel="stylesheet" type="text/css" href="app/fonts/Paname/MyFontsWebfontsKit/MyFontsWebfontsKit.css"/>
  <link rel="stylesheet" type="text/css" href="app/fonts/Texta/MyFontsWebfontsKit/MyFontsWebfontsKit.css"/>
  <link rel="shortcut icon" href="app/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css({.tmp,app}) styles/main.css -->
  <link rel="stylesheet" href="app/styles/main.css"/>

  <link rel="stylesheet" href="app/styles/msdropdown/dd.css"/>
  <link rel="stylesheet" href="app/styles/msdropdown/flags.css"/>

<link rel="stylesheet" type="text/css" href="app/styles/carousel.css" media="all"/>

  <!-- endbuild -->
</head>
<body ng-app="app">
 
  <!--[if lt IE 9]>
  <script src="bower_components/es5-shim/es5-shim.js"></script>
  <script src="bower_components/json3/lib/json3.min.js"></script>
  <![endif]-->
  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  
<script src="app/scripts/main.js" type="text/javascript"></script>
<script src="app/scripts/carousel.js" type="text/javascript"></script>
<script src="app/scripts/msdropdown/jquery.dd.js" type="text/javascript"></script>
<script src="app/scripts/msdropdown/jquery.dd.min.js" type="text/javascript"></script>


  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="app/scripts/init.js"></script>
  
  <script src="app/scripts/controllers/mainController.js"></script>

  <script src="app/scripts/app.js"></script>
  <!-- endbuild -->

<div id="application" ng-controller="MainController">
<div class="whiteBg clearfix">
    <div class="col-xs-0 col-sm-1 col-lg-2"></div>
    <div class="col-xs-12 col-sm-10 col-lg-8">
      <div class="logo"></div> 
      <div class="socials">
        <ul class="clearfix">
          <li><a target="_blank" href="https://www.facebook.com" class="faceboocIcon"></a></li>
          <li><a target="_blank" href="https://plus.google.com" class="googleIcon"></a></li>
          <li id="languagePickerContainer">
            <select name="countries" id="countries" style="width:300px;">
                  <option value='en' data-image="app/images/msdropdown/icons/blank.gif" data-imagecss="flag us">English</option>
                  <option value='hu' data-image="app/images/msdropdown/icons/blank.gif" data-imagecss="flag hu">Magyar</option>
                  <option value='de' data-image="app/images/msdropdown/icons/blank.gif" data-imagecss="flag de">Deutch</option>
            </select>    
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-0 col-sm-1 col-lg-2"></div>
</div>
<div id="carousel_content">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      
    <div class="carousel-inner">
        <div class="item active">
          <img ng-src={{mainViewModel.images[0]}} alt="...">
          <div class="carousel-caption">
            <h3>{{mainViewModel.welcomeText[0]}}</h3>
            <h2><span class="redTxt">{{mainViewModel.welcomeText[1]}}</span> </h2>
            <button class="padding50 btn overlay buttonCase" data-toggle="modal" data-target="#myModal">{{mainViewModel.welcomeText[2]}}</button>
          </div>
        </div>
        
        <div class="item" ng-repeat="image in mainViewModel.images" ng-if="$index > 0">        
          <img ng-src={{image}} alt="...">
           <div class="carousel-caption">
            <h3>{{mainViewModel.welcomeText[0]}}</h3>
            <h2><span class="redTxt">{{mainViewModel.welcomeText[1]}}</span></h2>
            <button class="padding50 btn overlay buttonCase" data-toggle="modal" data-target="#myModal">{{mainViewModel.welcomeText[2]}}</button>
           </div>
           
        </div>
      </div>   
  <ol class="carousel-indicators"><li data-target="#carousel-example-generic" data-slide-to="0" class=""></li><li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li></ol></div>
  
   
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="whiteBg clearfix">
    <div class="headerContainer">
      <img src="app/images/slide2.jpg" alt="">
      <div class="middleTxt clearfix contactTxt">
        <h5>{{mainViewModel.contactInfo[0]}}</h5>
        <h2>{{mainViewModel.contactInfo[1]}}</h2>
        <div class="greenBorder"></div>

      </div>
    </div>
    <div class="col-xs-0 col-sm-1 col-lg-2"></div>
    <div class="col-xs-12 col-sm-10 col-lg-8">
<h4>{{mainViewModel.contactInfo[2]}}</h4>
<span>
{{mainViewModel.contactInfo[3]}}
</span>

<h4></h4>
<h4>{{mainViewModel.contactInfo[4]}}</h4>
<p>{{mainViewModel.contactInfo[5]}}</p>
    </div>
    <div class="col-xs-0 col-sm-1 col-lg-2"></div>
  </div>
      <div class="slideBtns">
    <a class="closeBtn"></a>

    </div>
    </div>
  </div>
  
</div>




<button class="btn buttonCase" id="buttonServices" data-toggle="modal" data-target="#servicesPopUp" style="display:none"></button>
  <div class="whiteBg clearfix">
    <div class="col-xs-0 col-sm-1 col-lg-2"></div>
    <div class="col-xs-12 col-sm-10 col-lg-8 centerTxt ">
    <ul class="col-xs-12 col-sm-12 col-lg-12 table equalResultsColumns">
      
        <li class="services col-xs-6 col-sm-4 col-lg-4" id="uid-1" style="height: 163px;">
          <div class="repairIcon "></div>
          <div class="greenBorder "></div>
          <h4>{{mainViewModel.services[0]}} <br>  </h4>
        </li>
      
        <li class="services col-xs-6 col-sm-4 col-lg-4" id="uid-2" style="height: 163px;">
          <div class="heatingIcon "></div>
          <div class="greenBorder "></div>
          <h4>{{mainViewModel.services[1]}} <br> </h4>
        </li>
      
        <li class="services col-xs-6 col-sm-4 col-lg-4" id="uid-3" style="height: 163px;">
          <div class="waterIcon "></div>
          <div class="greenBorder "></div>
          <h4>{{mainViewModel.services[2]}}<br> </h4>
        </li>
      
    </ul>
    </div>
    <div class="col-xs-0 col-sm-1 col-lg-2"></div>
  </div>


<div class="modal fade" id="servicesPopUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     <div id="carouselPages1" class="carouselCase slide" data-ride="carousel">
      <div class="carousel-inner">
            
         <div class="item" id="uid-1">
                <div class="headerContainer">
                <img ng-src={{mainViewModel.service1[8]}} alt="...">
                <div class="middleTxt clearfix contactTxt">
              <h5>{{mainViewModel.service1[0]}}</h5>
              <h2>{{mainViewModel.service1[1]}}</h2>
              <div class="greenBorder"></div>
             </div>
             </div>

              <div class="clearfix">
              <div class="col-xs-0 col-sm-1 col-lg-2"></div>
              <div class="col-xs-12 col-sm-10 col-lg-8 contentBox">
                <h4>{{mainViewModel.service1[2]}}</h4>
                <span>{{mainViewModel.service1[3]}}</span>

                <h4></h4>
                <h4>{{mainViewModel.service1[4]}}</h4>
                <span>{{mainViewModel.service1[5]}}</span>
                &nbsp;
                <h4></h4>
                <h4>{{mainViewModel.service1[6]}}</h4>
                <span>{{mainViewModel.service1[7]}}</span>
                <h4></h4>
                <button class="fWidthBtn popUpBtn greenBg" id="service_button" data-toggle="modal" data-target="#myModal">{{mainViewModel.welcomeText[2]}}</button>

              </div>
              <div class="col-xs-0 col-sm-1 col-lg-2"></div>
            </div>
      
          </div>
      
         <div class="item" id="uid-2">
                <div class="headerContainer">
                <img ng-src={{mainViewModel.service2[8]}} alt="...">
                <div class="middleTxt clearfix contactTxt">
              <h5>{{mainViewModel.service2[0]}}</h5>
              <h2>{{mainViewModel.service2[1]}}</h2>
              <div class="greenBorder"></div>
             </div>
             </div>

              <div class="clearfix">
              <div class="col-xs-0 col-sm-1 col-lg-2"></div>
              <div class="col-xs-12 col-sm-10 col-lg-8 contentBox">
                <h4>{{mainViewModel.service2[2]}}</h4>
                <span>{{mainViewModel.service2[3]}}</span>

                <h4></h4>
                <h4>{{mainViewModel.service2[4]}}</h4>
                <span>{{mainViewModel.service2[5]}}</span>
                &nbsp;
                <h4></h4>
                <h4>{{mainViewModel.service2[6]}}</h4>
                <span>{{mainViewModel.service2[7]}}</span>
                <h4></h4>
                <button class="fWidthBtn popUpBtn greenBg" id="service_button" data-toggle="modal" data-target="#myModal">{{mainViewModel.welcomeText[2]}}</button>


              </div>
              <div class="col-xs-0 col-sm-1 col-lg-2"></div>
            </div>
      
          </div>
      
         <div class="item" id="uid-3">
                <div class="headerContainer">
                <img ng-src={{mainViewModel.service3[8]}} alt="...">
                <div class="middleTxt clearfix contactTxt">
              <h5>{{mainViewModel.service3[0]}}</h5>
              <h2>{{mainViewModel.service3[1]}}</h2>
              <div class="greenBorder"></div>
             </div>
             </div>

              <div class="clearfix">
              <div class="col-xs-0 col-sm-1 col-lg-2"></div>
              <div class="col-xs-12 col-sm-10 col-lg-8 contentBox">
                <h4>{{mainViewModel.service3[2]}}</h4>
                <span>{{mainViewModel.service3[3]}}</span>

                <h4></h4>
                <h4>{{mainViewModel.service3[4]}}</h4>
                <span>{{mainViewModel.service3[5]}}</span>
                &nbsp;
                <h4></h4>
                <h4>{{mainViewModel.service3[6]}}</h4>
                <span>{{mainViewModel.service3[7]}}</span>
                <h4></h4>
                <button class="fWidthBtn popUpBtn greenBg" id="service_button" data-toggle="modal" data-target="#myModal">{{mainViewModel.welcomeText[2]}}</button>
              </div>
              <div class="col-xs-0 col-sm-1 col-lg-2"></div>
            </div>
      
          </div>
      
  </div>
  <div class="slideBtns">
          <a class="closeBtn"></a>
          <a class="left prevArr" role="button" data-slide="prev"></a>
          <a class="right nextArr" role="button" data-slide="next"></a> 
    </div>
  </div>
    
  </div>
  </div>
  </div>

<div class="greenBg clearfix">
    <div class="col-xs-0 col-sm-1 col-lg-2"></div>
    <div class="col-xs-12 col-sm-10 col-lg-8 centerTxt container">
    <h3>{{mainViewModel.works[0]}}</h3>
    
  <!--  CONTENT ELEMENT, uid:587/text [begin] -->
    <a id="a587"></a><div id="c587" class="csc-default">
    <!--  Text: [begin] -->
      <p class="bodytext"><span style="font-family: Tahoma, sans-serif;">{{mainViewModel.works[1]}}&nbsp;</span></p>
    <!--  Text: [end] -->
      </div>
  <!--  CONTENT ELEMENT, uid:587/text [end] -->
    
    </div>
    <div class="col-xs-0 col-sm-1 col-lg-2"></div>
</div>
<div class="clearfix">
  <div class="col-xs-0 col-sm-1 col-lg-2"></div>
  <div class="clearfix casesContainer col-xs-12 col-sm-10 col-lg-8 "> 
  
   
<!--   <div class="works-class" ng-repeat="work in mainViewModel.workList track by $index" ng-class="($index==0 || $index == 3) ? 'col-xs-12 col-sm-8 col-lg-8 largeImg' : 'col-xs-6 col-sm-4 col-lg-4'"  class="fLeft noPadding  imgOverlay">

    <button class="btn buttonCase" id="buttonCaseContainer" data-toggle="modal" data-target="#myModalCase" style="display:none"></button>

    <div     id="{{work[13]}}">
        <div class="imgBoxContainer" style="height: 224px;">
          <img src="{{work[14]}}" alt="">
        </div>
        <div class="transition-all middleTxt">
          <h3>{{work[0]}}<br>{{work[1]}}</h3>
          
          <button class="btn buttonCase overlay" id="{{work[13]}}">
          {{work[2]}}
          </button>
        </div>
    </div>
  </div> -->

  <div ng-repeat="work in mainViewModel.workList track by $index" ng-class="($index==0 || $index == 3) ? 'col-xs-12 col-sm-8 col-lg-8 fLeft noPadding  imgOverlay' : 'col-xs-6 col-sm-4 col-lg-4 fLeft noPadding  imgOverlay'" onmouseenter="var self = $(this);
    self.addClass('imageOverlayHover');" onmouseleave="var self = $(this);
    self.removeClass('imageOverlayHover');">

    <button class="btn buttonCase" id="buttonCaseContainer" data-toggle="modal" data-target="#myModalCase" style="display:none"></button>

      <div id="{{work[13]}}" class="works-class" onclick="
            $('#buttonCaseContainer').click();

              $('#carouselPages #'+this.id).addClass('active');
              $('#carouselPages #'+this.id).removeClass('next');
              $('#carouselPages #'+this.id).removeClass('left');">
          <div class="imgBoxContainer" style="height: 224px;">
            <img src="{{work[14]}}" alt="">
          </div>
          <div class="transition-all middleTxt" onmouseenter="
          var self = $(this);
    self.addClass('btnHover');">
            <h3>{{work[0]}}<br>{{work[1]}}</h3>
            
            <button class="btn buttonCase overlay" id="{{work[13]}}">
            {{work[2]}}
            </button>
          </div>
      </div>

    </div>








  <!--   <div class="fLeft  col-xs-6 col-sm-4 col-lg-4 noPadding  imgOverlay">

       <button class="btn buttonCase" id="buttonCaseContainer" data-toggle="modal" data-target="#myModalCase" style="display:none"></button>

        <div id="{{mainViewModel.workList.work2[13]}}" class="works-class">
            <div class="imgBoxContainer" style="height: 224px;">
              <img src="{{mainViewModel.workList.work2[14]}}" alt="">
            </div>
            <div class="transition-all middleTxt">
              <h3>{{mainViewModel.workList.work2[0]}}<br>{{mainViewModel.workList.work2[1]}}</h3>
              
              <button class="btn buttonCase overlay" id="{{mainViewModel.workList.work2[13]}}">
              {{mainViewModel.workList.work2[2]}}
              </button>
            </div>
        </div>
  
    </div>






<div class="fLeft  col-xs-6 col-sm-4 col-lg-4 noPadding  imgOverlay">

   <button class="btn buttonCase" id="buttonCaseContainer" data-toggle="modal" data-target="#myModalCase" style="display:none"></button>

    <div id="{{mainViewModel.workList.work3[13]}}" class="works-class">
        <div class="imgBoxContainer" style="height: 224px;">
          <img src="{{mainViewModel.workList.work3[14]}}" alt="">
        </div>
        <div class="transition-all middleTxt">
          <h3>{{mainViewModel.workList.work3[0]}}<br>{{mainViewModel.workList.work3[1]}}</h3>
          
          <button class="btn buttonCase overlay" id="{{mainViewModel.workList.work3[13]}}">
          {{mainViewModel.workList.work3[2]}}
          </button>
        </div>
    </div>
  
</div>





<div class="fLeft  col-xs-12 col-sm-8 col-lg-8 noPadding largeImg imgOverlay">

   <button class="btn buttonCase" id="buttonCaseContainer" data-toggle="modal" data-target="#myModalCase" style="display:none"></button>

    <div  id="{{mainViewModel.workList.work4[13]}}" class="">
        <div class="imgBoxContainer" style="height: 224px;">
          <img src="{{mainViewModel.workList.work4[14]}}" alt="">
        </div>
        <div class="transition-all middleTxt">
          <h3>{{mainViewModel.workList.work4[0]}}<br>{{mainViewModel.workList.work4[1]}}</h3>
          
          <button class="btn buttonCase overlay" id="{{mainViewModel.workList.work4[13]}}">
          {{mainViewModel.workList.work4[2]}}
          </button>
        </div>
    </div>
    
    </div>

 -->



</div>
<div class="col-xs-0 col-sm-1 col-lg-2"></div>
</div>
 

<div class="modal fade" id="myModalCase" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="carouselPages" class="carouselCase slide" data-ride="carousel">
      <div class="carousel-inner">
            
          <!-- <div ng-repeat="work in mainViewModel.workList track by $index"> -->
            <div ng-repeat="work in mainViewModel.workList track by $index" class="item " id="{{work[13]}}">
              <div class="headerContainer">
                <img src="{{work[14]}}" alt="...">
                <div class="middleTxt clearfix contactTxt">
                
                  <h5>{{work[3]}}</h5>
                  <h2>{{work[4]}}</h2>
                  <div class="greenBorder"></div>
                
                </div>
              </div>
              <div class="clearfix">
                  <div class="col-xs-0 col-sm-1 col-lg-2"></div>
                  <div class="col-xs-12 col-sm-10 col-lg-8 contentBox ">
                    <h4>{{work[5]}}</h4>
                    {{work[6]}}

                    <h4></h4>
                    <h4>{{work[7]}}</h4>
                    {{work[8]}}
                    &nbsp;
                    <h4></h4>
                    <h4>{{work[9]}}</h4>
                    {{work[10]}}
                    <h4></h4>
                    <h4>{{work[11]}}&nbsp;</h4>
                    <div>
                    {{work[12]}}
                    </div>
                  <button class="fWidthBtn popUpBtn greenBg" id="modal_cases_button" data-toggle="modal" data-target="#myModal">{{mainViewModel.welcomeText[2]}}</button>

                  </div>
                <div class="col-xs-0 col-sm-1 col-lg-2"></div>
              </div>
            
            </div>
          <!-- </div> -->
          
<!--                <div class="item " id="uidcases-2">
                <div class="headerContainer">
                <img src="app/images/work2.png" alt="...">
                <div class="middleTxt clearfix contactTxt">
             <h5>{{mainViewModel.workList.work2[3]}}</h5>
              <h2>{{mainViewModel.workList.work2[4]}}</h2>
              <div class="greenBorder"></div>
              
             </div>
             </div>
              <div class="clearfix">
              <div class="col-xs-0 col-sm-1 col-lg-2"></div>
              <div class="col-xs-12 col-sm-10 col-lg-8 contentBox ">
                <h4>{{mainViewModel.workList.work2[5]}}</h4>
{{mainViewModel.workList.work2[6]}}

<h4></h4>
<h4>{{mainViewModel.workList.work2[7]}}</h4>
{{mainViewModel.workList.work2[8]}}
&nbsp;
<h4></h4>
<h4>{{mainViewModel.workList.work2[9]}}</h4>
{{mainViewModel.workList.work2[10]}}
<h4></h4>
<h4>{{mainViewModel.workList.work2[11]}}&nbsp;</h4>
<div>
{{mainViewModel.workList.work2[12]}}
</div>
                  <button class="fWidthBtn popUpBtn greenBg" id="modal_cases_button" data-toggle="modal" data-target="#myModal">{{mainViewModel.welcomeText[2]}}</button>

              </div>
              <div class="col-xs-0 col-sm-1 col-lg-2"></div>
            </div>
            
          </div> -->
      
          
<!--                <div class="item " id="uidcases-3">
                <div class="headerContainer">
                <img src="app/images/work3.png" alt="...">
                <div class="middleTxt clearfix contactTxt">
              
             <h5>{{mainViewModel.workList.work3[3]}}</h5>
              <h2>{{mainViewModel.workList.work3[4]}}</h2>
              <div class="greenBorder"></div>
              
             </div>
             </div>
              <div class="clearfix">
              <div class="col-xs-0 col-sm-1 col-lg-2"></div>
              <div class="col-xs-12 col-sm-10 col-lg-8 contentBox ">
                <h4>{{mainViewModel.workList.work3[5]}}</h4>
{{mainViewModel.workList.work3[6]}}

<h4></h4>
<h4>{{mainViewModel.workList.work3[7]}}</h4>
{{mainViewModel.workList.work3[8]}}
&nbsp;
<h4></h4>
<h4>{{mainViewModel.workList.work3[9]}}</h4>
{{mainViewModel.workList.work3[10]}}
<h4></h4>
<h4>{{mainViewModel.workList.work3[11]}}&nbsp;</h4>
<div>
{{mainViewModel.workList.work3[12]}}
</div>
                  <button class="fWidthBtn popUpBtn greenBg" id="modal_cases_button" data-toggle="modal" data-target="#myModal">{{mainViewModel.welcomeText[2]}}</button>

              </div>
              <div class="col-xs-0 col-sm-1 col-lg-2"></div>
            </div>
            
          </div> -->
      
          
<!--                <div class="item " id="uidcases-4">
                <div class="headerContainer">
                <img src="app/images/work4.jpg" alt="...">
                <div class="middleTxt clearfix contactTxt">
              
              <h5>{{mainViewModel.workList.work4[3]}}</h5>
              <h2>{{mainViewModel.workList.work4[4]}}</h2>
              <div class="greenBorder"></div>
              
             </div>
             </div>
              <div class="clearfix">
              <div class="col-xs-0 col-sm-1 col-lg-2"></div>
              <div class="col-xs-12 col-sm-10 col-lg-8 contentBox ">
                <h4>{{mainViewModel.workList.work4[5]}}</h4>
{{mainViewModel.workList.work4[6]}}

<h4></h4>
<h4>{{mainViewModel.workList.work4[7]}}</h4>
{{mainViewModel.workList.work4[8]}}
&nbsp;
<h4></h4>
<h4>{{mainViewModel.workList.work4[9]}}</h4>
{{mainViewModel.workList.work4[10]}}
<h4></h4>
<h4>{{mainViewModel.workList.work4[11]}}&nbsp;</h4>
<div>
{{mainViewModel.workList.work4[12]}}
</div>
                  <button class="fWidthBtn popUpBtn greenBg" id="modal_cases_button" data-toggle="modal" data-target="#myModal">{{mainViewModel.welcomeText[2]}}</button>

              </div>
              <div class="col-xs-0 col-sm-1 col-lg-2"></div>
            </div>
            
          </div> -->
      
     </div>
     <div class="slideBtns">
          <a class="closeBtn"></a>
          <a class="left prevArr" role="button" data-slide="prev"></a>
          <a class="right nextArr" role="button" data-slide="next"></a> 
    </div>
    </div>
    
  
    </div>
  </div>
  </div>
       </div>
     
<h3 class="lightGrayBg centerTxt headerTitle">{{mainViewModel.brands[0]}}</h3>
<div class="whiteBg clearfix">
  
  <div class="col-xs-0 col-sm-1 col-lg-2"></div>
    <div class="col-xs-12 col-sm-10 col-lg-8 centerTxt ">
      <ul class="col-xs-12 col-sm-12 col-lg-12 logosTable">
        
          <li class="logos col-xs-6 col-sm-3 col-lg-3">
            <img src="{{mainViewModel.brands[1]}}" alt="">
          </li>
        
          <li class="logos col-xs-6 col-sm-3 col-lg-3">
            <img src="{{mainViewModel.brands[2]}}" alt="">
          </li>
        
          <li class="logos col-xs-6 col-sm-3 col-lg-3">
            <img src="{{mainViewModel.brands[3]}}" alt="">
          </li>
        
          <li class="logos col-xs-6 col-sm-3 col-lg-3">
            <img src="{{mainViewModel.brands[4]}}" alt="">
          </li>
        
          <li class="logos col-xs-6 col-sm-3 col-lg-3">
            <img src="{{mainViewModel.brands[5]}}" alt="">
          </li>
        
          <li class="logos col-xs-6 col-sm-3 col-lg-3">
            <img src="{{mainViewModel.brands[6]}}" alt="">
          </li>
        
          <li class="logos col-xs-6 col-sm-3 col-lg-3">
            <img src="{{mainViewModel.brands[7]}}" alt="">
          </li>
        
       </ul>
    </div>
  </div>

  
            <footer class="grayBg">
               <div class="footer clearfix">
                 <ul class="borderBottom listBottom clearfix centerText">
                <li class="middleTxt"><a href="">{{mainViewModel.footerInfo[0]}}</a></li>
                <li class="middleTxt"><a href="">{{mainViewModel.footerInfo[1]}}</a></li>
                <li class="middleTxt"><a href="">{{mainViewModel.footerInfo[2]}}</a></li>
                <li class="middleTxt"><a href="">{{mainViewModel.footerInfo[3]}}</a></li>
                <li class="middleTxt"><a href="">{{mainViewModel.footerInfo[4]}}</a></li>
              </ul>
              <ul class="listBottom clearfix centerText">
                <li class="whiteLogo fLeft"></li>

                <li >{{mainViewModel.footerInfo[5]}}<br>
                &copy; <span id="currentYear"></span>{{mainViewModel.footerInfo[6]}}</li>

                <li >{{mainViewModel.address[0]}}<br>
                {{mainViewModel.address[1]}}<br>
                {{mainViewModel.address[2]}}
                </li>

                <li >
                  {{mainViewModel.address[3]}}<br>
                  {{mainViewModel.address[4]}}<br>
                  {{mainViewModel.address[5]}}
                  </li>
                  
                
              </ul>
  </div></footer>

</div>

</body>

</html>
